// SIMPLE GRID - SASS/SCSS

@import url(https://fonts.googleapis.com/css?family=Inter:400,700);

//main colors ... splish splash ...

$COLOR-Positive: hsl(163, 72%, 41%);
$COLOR-Negative: hsl(356, 69%, 56%);

$COLOR-Facebook-Card-Header : hsl(195, 100%, 50%);
$COLOR-Twitter-Card-Header  : hsl(203, 89%, 53%);
$COLOR-Instagram-Card-Header: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$COLOR-YouTube-Card-Header  : hsl(348, 97%, 39%);

// fonts
$font-family        : 'Inter';
$font-weight-regular: 400;
$font-weight-heavy  : 700;
$font-size-headings : 14px;

html,
body {
    height     : 100%;
    width      : 100%;
    margin     : 0;
    padding    : 0;
    left       : 0;
    top        : 0;
    font-size  : 100%;
    font-family: $font-family;
}