$COLOR-BG            : hsl(230, 17%, 14%);
$COLOR-Top-BG-Pattern: hsl(232, 19%, 15%);
$COLOR-Card-BG       : hsl(228, 28%, 20%);
$COLOR-Text-light    : hsl(0, 0%, 100%);
$COLOR-Text-dark     : hsl(228, 34%, 66%);
$COLOR-Toggle-BG     : linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);