$COLOR-BG            : hsl(0, 0%, 100%);
$COLOR-Top-BG-Pattern: hsl(225, 100%, 98%);
$COLOR-Card-BG       : hsl(227, 47%, 96%);
$COLOR-Text-light    : hsl(228, 12%, 44%);
$COLOR-Text-dark     : hsl(230, 17%, 14%);
$COLOR-Toggle-BG     : hsl(230, 22%, 74%);